---
import GitHub from "../icons/Github.astro"
import NextJS from "../icons/NextJS.astro"
import Tensorflow from "../icons/Tensorflow.astro"
import Flask from "../icons/Flask.astro"
import GCP from "../icons/Google.astro"
import ReactJS from "../icons/ReactJS.astro"
import NodeJS from "../icons/NodeJS.astro"
import SASS from "../icons/SASS.astro"
import Tailwind from "../icons/Tailwind.astro"
import Link from "../icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-black text-white",
        icon: NextJS,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: Tailwind,
    },
    TENSORFLOW: {
        name: "Tensorflow",
        class: "bg-black text-white",
        icon: Tensorflow,
    },
    FLASK: {
        name: "Flask",
        class: "bg-[#003159] text-white",
        icon: Flask,
    },
    GCP: {
        name: "Google Cloud Platform",
        class: "bg-[#003159] text-white",
        icon: GCP,
    },
    REACT: {
        name: "React.js",
        class: "bg-[#003159] text-white",
        icon: ReactJS,
    },
    NODE: {
        name: "Node.js",
        class: "bg-black text-white",
        icon: NodeJS,
    },
    SASS: {
        name: "SASS",
        class: "bg-[#003159] text-white",
        icon: SASS,
    },
}
const PROJECTS = [
    {
        title: "Acne Classification & Detection App",
        description:"Step into the realm of innovation with our groundbreaking application, where state-of-the-art Convolutional Neural Network Algorithms " +
            "unveil a spectrum of skin disease detection services, accompanied by detailed insights into each condition. Currently, our platform specializes " +
            "in identifying various types of Acne, harnessing the convenience of your smartphone's camera or uploaded images to pinpoint clinical symptoms accurately " +
            "and effortlessly. This app also seamlessly connects users with nearby beauty clinics and hospitals, ensuring swift access to professional care and services.",
        link: "https://www.youtube.com/watch?v=xTWgFicGXXE",
        github: "https://github.com/Clayrisee/Kikuma",
        image: "https://sinatriiobimo.github.io/static/79e547bff6aeac2e6a9a7e0db3c9ec9d/89afa/cps.webp",
        tags: [TAGS.TENSORFLOW, TAGS.FLASK, TAGS.GCP],
    },
    {
        title: "Hotel Reservation Web",
        description:
            "Indulge in the ultimate staycation experience across Indonesia! For travelers seeking the perfect hotel retreat, look no further. " +
            "Our website offers a curated selection of top-tier accommodations, " +
            "allowing you to effortlessly discover the ideal stay based on your preferred location and budget",
        github: "https://github.com/sinatriiobimo/client-staycation",
        image: "https://sinatriiobimo.github.io/static/40fae3e0ed47c00e2238b0abe7b597b1/4e6d8/sct.webp",
        tags: [TAGS.REACT, TAGS.NODE, TAGS.SASS],
    },
]
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
                <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                    <div class="w-full md:w-1/2">
                        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                            <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
                        </div>
                    </div>

                    <div class="w-full md:w-1/2 md:max-w-lg">
                        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                            {title}
                        </h3>
                        <div class="flex flex-wrap mt-2">
                            <ul class="flex flex-row mb-2 gap-x-2">
                                {tags.map((tag) => (
                                        <li>
              <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                  {tag.name}
              </span>
                                        </li>
                                ))}
                            </ul>

                            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
                            <footer class="flex items-end justify-start mt-4 gap-x-4">
                                {github && (
                                        <LinkButton href={github}>
                                            <GitHub class="size-6" />
                                            Code

                                        </LinkButton>
                                )}
                                {link && (
                                        <LinkButton href={link}>
                                            <Link class="size-4" />
                                            Preview
                                        </LinkButton>
                                )}
                            </footer>
                        </div>
                    </div>
                </article>
        ))
    }
</div>